# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystems are summarized

#### Some of the popular languages that Data Scientists use are:

1. Python 
2. R
3. Java

#### Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Panda
3. PyTorch

**Objectives:**

- List popular languages for Data Science.
- Explore key libraries and frameworks for each language.
- Demonstrate basic data manipulation techniques.
- Visualize data using Python libraries.
- Implement a simple machine learning model.

| Data Science Tools |
| ------------------ |
| 1. Jupyter Notebook |
| 2. RStudio |
| 3. Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [38]:
A = 40 
B = 20

print(A+B)
A+B

60

60

In [32]:
A*B

800

In [34]:
A/B

2.0

In [36]:
A%B

0

In [51]:
## This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [54]:
## This will convert 200 minutes to hours by dividing by 60.

200/60

3.3333333333333335

## Author
Yuchan Kim